extends layout

block content
  section#home.banner-area.relative(data-parallax='scroll', data-image-src='img/header-bg.jpg')
    .overlay-bg.overlay
    .container
      .row.fullscreen(style='height: 637px;')
        .banner-content.d-flex.align-items-center.col-lg-12.col-md-12
          h1
            | A Discount Toner Cartridge 
            br
            | 								Is Better Than Ever.
        